In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data_df=pd.read_csv("weather.csv")

In [4]:
data_df.head()

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,2021-12-28,00:00,Overcast,13 °c,0.0mm,0%,100%,1026mb,7 km/h,10 km/h
1,2021-12-28,03:00,Overcast,13 °c,0.0mm,0%,100%,1024mb,8 km/h,10 km/h
2,2021-12-28,06:00,Overcast,13 °c,0.0mm,0%,100%,1024mb,6 km/h,9 km/h
3,2021-12-28,09:00,Overcast,14 °c,0.0mm,0%,100%,1026mb,6 km/h,8 km/h
4,2021-12-28,12:00,Cloudy,17 °c,0.0mm,0%,80%,1024mb,6 km/h,6 km/h

In [5]:
data_df=data_df.replace(regex=['-',':00','°c','mm','%','mb','km/h'], value="")
data_df

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,20211228,00,Overcast,13,0.0,0,100,1026,7,10
1,20211228,03,Overcast,13,0.0,0,100,1024,8,10
2,20211228,06,Overcast,13,0.0,0,100,1024,6,9
3,20211228,09,Overcast,14,0.0,0,100,1026,6,8
4,20211228,12,Cloudy,17,0.0,0,80,1024,6,6
...,...,...,...,...,...,...,...,...,...,...
35675,20091013,09,Heavy rain,25,15.9,0,82,1013,13,22
35676,20091013,12,Heavy rain,25,17.9,0,99,1011,10,16
35677,20091013,15,Moderate rain,22,7.1,0,100,1011,13,22
35678,20091013,18,Overcast,21,0.0,0,93,1012,15,28
35679,20091013,21,Moderate or heavy rain shower,22,4.8,0,77,1014,13,21

In [6]:
int_colums=['day','time']
float_colums=['tem','rain','rain%','cloud','pressure','wind','gust']
data_df[int_colums] = data_df[int_colums].astype(int)
data_df[float_colums] = data_df[float_colums].astype(float)
data_df

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,20211228,0,Overcast,13.0,0.0,0.0,100.0,1026.0,7.0,10.0
1,20211228,3,Overcast,13.0,0.0,0.0,100.0,1024.0,8.0,10.0
2,20211228,6,Overcast,13.0,0.0,0.0,100.0,1024.0,6.0,9.0
3,20211228,9,Overcast,14.0,0.0,0.0,100.0,1026.0,6.0,8.0
4,20211228,12,Cloudy,17.0,0.0,0.0,80.0,1024.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...
35675,20091013,9,Heavy rain,25.0,15.9,0.0,82.0,1013.0,13.0,22.0
35676,20091013,12,Heavy rain,25.0,17.9,0.0,99.0,1011.0,10.0,16.0
35677,20091013,15,Moderate rain,22.0,7.1,0.0,100.0,1011.0,13.0,22.0
35678,20091013,18,Overcast,21.0,0.0,0.0,93.0,1012.0,15.0,28.0
35679,20091013,21,Moderate or heavy rain shower,22.0,4.8,0.0,77.0,1014.0,13.0,21.0

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35680 entries, 0 to 35679
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       35680 non-null  int32
 1   time      35680 non-null  int32
 2   forecast  35680 non-null  object
 3   tem       35680 non-null  float64
 4   rain      35680 non-null  float64
 5   rain%     35680 non-null  float64
 6   cloud     35680 non-null  float64
 7   pressure  35680 non-null  float64
 8   wind      35680 non-null  float64
 9   gust      35680 non-null  float64
dtypes: float64(7), int32(2), object(1)
memory usage: 2.5+ MB

In [44]:
x=data_df.iloc[:,lambda df:[0,1,3,4,5,6,7,8,9]].values
x

array([[2.0211228e+07, 0.0000000e+00, 1.3000000e+01, ..., 1.0260000e+03,
        7.0000000e+00, 1.0000000e+01],
       [2.0211228e+07, 3.0000000e+00, 1.3000000e+01, ..., 1.0240000e+03,
        8.0000000e+00, 1.0000000e+01],
       [2.0211228e+07, 6.0000000e+00, 1.3000000e+01, ..., 1.0240000e+03,
        6.0000000e+00, 9.0000000e+00],
       ...,
       [2.0091013e+07, 1.5000000e+01, 2.2000000e+01, ..., 1.0110000e+03,
        1.3000000e+01, 2.2000000e+01],
       [2.0091013e+07, 1.8000000e+01, 2.1000000e+01, ..., 1.0120000e+03,
        1.5000000e+01, 2.8000000e+01],
       [2.0091013e+07, 2.1000000e+01, 2.2000000e+01, ..., 1.0140000e+03,
        1.3000000e+01, 2.1000000e+01]])

In [30]:
y=data_df.iloc[:,lambda df:[2]].values
y

array([['Overcast'],
       ['Overcast'],
       ['Overcast'],
       ...,
       ['Moderate rain'],
       ['Overcast'],
       ['Moderate or heavy rain shower']], dtype=object)

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct= ColumnTransformer(transformers=[('enconder', OneHotEncoder(), [0])])
y= ct.fit_transform(y)

In [17]:
y

<35680x21 sparse matrix of type '<class 'numpy.float64'>'
	with 35680 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
y= le.fit_transform(y)

In [64]:
result = np.hstack((x, np.atleast_2d(y).T))
np.shape(result)

(35680, 10)

In [ ]:
from sklearn.preprocessing

In [65]:
pd.DataFrame(result).to_csv('weather3.csv',header=None,mode='a',index=False)