In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [329]:
data_df=pd.read_csv("weather.csv")

In [330]:
data_df.head()

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,12/28/2021,0:00,Overcast,13 °c,0.0mm,0%,100%,1026mb,7 km/h,10 km/h
1,12/28/2021,3:00,Overcast,13 °c,0.0mm,0%,100%,1024mb,8 km/h,10 km/h
2,12/28/2021,6:00,Overcast,13 °c,0.0mm,0%,100%,1024mb,6 km/h,9 km/h
3,12/28/2021,9:00,Overcast,14 °c,0.0mm,0%,100%,1026mb,6 km/h,8 km/h
4,12/28/2021,12:00,Cloudy,17 °c,0.0mm,0%,80%,1024mb,6 km/h,6 km/h

In [331]:
data_df=data_df.replace(regex=['-',':00','°c','mm','%','mb','km/h','/'], value="")
data_df

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,12282021,0,Overcast,13,0.0,0,100,1026,7,10
1,12282021,3,Overcast,13,0.0,0,100,1024,8,10
2,12282021,6,Overcast,13,0.0,0,100,1024,6,9
3,12282021,9,Overcast,14,0.0,0,100,1026,6,8
4,12282021,12,Cloudy,17,0.0,0,80,1024,6,6
...,...,...,...,...,...,...,...,...,...,...
35675,10132009,9,Heavy rain,25,15.9,0,82,1013,13,22
35676,10132009,12,Heavy rain,25,17.9,0,99,1011,10,16
35677,10132009,15,Moderate rain,22,7.1,0,100,1011,13,22
35678,10132009,18,Overcast,21,0.0,0,93,1012,15,28
35679,10132009,21,Moderate or heavy rain shower,22,4.8,0,77,1014,13,21

In [332]:
int_colums=['day','time']
float_colums=['tem','rain','rain%','cloud','pressure','wind','gust']
data_df[int_colums] = data_df[int_colums].astype(int)
data_df[float_colums] = data_df[float_colums].astype(float)
data_df

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust
0,12282021,0,Overcast,13.0,0.0,0.0,100.0,1026.0,7.0,10.0
1,12282021,3,Overcast,13.0,0.0,0.0,100.0,1024.0,8.0,10.0
2,12282021,6,Overcast,13.0,0.0,0.0,100.0,1024.0,6.0,9.0
3,12282021,9,Overcast,14.0,0.0,0.0,100.0,1026.0,6.0,8.0
4,12282021,12,Cloudy,17.0,0.0,0.0,80.0,1024.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...
35675,10132009,9,Heavy rain,25.0,15.9,0.0,82.0,1013.0,13.0,22.0
35676,10132009,12,Heavy rain,25.0,17.9,0.0,99.0,1011.0,10.0,16.0
35677,10132009,15,Moderate rain,22.0,7.1,0.0,100.0,1011.0,13.0,22.0
35678,10132009,18,Overcast,21.0,0.0,0.0,93.0,1012.0,15.0,28.0
35679,10132009,21,Moderate or heavy rain shower,22.0,4.8,0.0,77.0,1014.0,13.0,21.0

In [333]:
data_df['day'] = pd.to_datetime(data_df['day'], format='%m%d%Y')
data_df['month'] = data_df['day'].dt.month
data_df

,day,time,forecast,tem,rain,rain%,cloud,pressure,wind,gust,month
0,2021-12-28,0,Overcast,13.0,0.0,0.0,100.0,1026.0,7.0,10.0,12
1,2021-12-28,3,Overcast,13.0,0.0,0.0,100.0,1024.0,8.0,10.0,12
2,2021-12-28,6,Overcast,13.0,0.0,0.0,100.0,1024.0,6.0,9.0,12
3,2021-12-28,9,Overcast,14.0,0.0,0.0,100.0,1026.0,6.0,8.0,12
4,2021-12-28,12,Cloudy,17.0,0.0,0.0,80.0,1024.0,6.0,6.0,12
...,...,...,...,...,...,...,...,...,...,...,...
35675,2009-10-13,9,Heavy rain,25.0,15.9,0.0,82.0,1013.0,13.0,22.0,10
35676,2009-10-13,12,Heavy rain,25.0,17.9,0.0,99.0,1011.0,10.0,16.0,10
35677,2009-10-13,15,Moderate rain,22.0,7.1,0.0,100.0,1011.0,13.0,22.0,10
35678,2009-10-13,18,Overcast,21.0,0.0,0.0,93.0,1012.0,15.0,28.0,10
35679,2009-10-13,21,Moderate or heavy rain shower,22.0,4.8,0.0,77.0,1014.0,13.0,21.0,10

In [334]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35680 entries, 0 to 35679
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       35680 non-null  datetime64[ns]
 1   time      35680 non-null  int32
 2   forecast  35680 non-null  object
 3   tem       35680 non-null  float64
 4   rain      35680 non-null  float64
 5   rain%     35680 non-null  float64
 6   cloud     35680 non-null  float64
 7   pressure  35680 non-null  float64
 8   wind      35680 non-null  float64
 9   gust      35680 non-null  float64
 10  month     35680 non-null  int64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(1), object(1)
memory usage: 2.9+ MB

In [335]:
x=data_df.iloc[:,lambda df:[10,1,3,4,5,6,7,8,9]].values
x

array([[  12.,    0.,   13., ..., 1026.,    7.,   10.],
       [  12.,    3.,   13., ..., 1024.,    8.,   10.],
       [  12.,    6.,   13., ..., 1024.,    6.,    9.],
       ...,
       [  10.,   15.,   22., ..., 1011.,   13.,   22.],
       [  10.,   18.,   21., ..., 1012.,   15.,   28.],
       [  10.,   21.,   22., ..., 1014.,   13.,   21.]])

In [336]:
y=data_df.iloc[:,lambda df:[2]].values
y

array([['Overcast'],
       ['Overcast'],
       ['Overcast'],
       ...,
       ['Moderate rain'],
       ['Overcast'],
       ['Moderate or heavy rain shower']], dtype=object)

In [337]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct= ColumnTransformer(transformers=[('enconder', OneHotEncoder(), [0])], remainder="passthrough")
y= ct.fit_transform(y).toarray()
x= ct.fit_transform(x)

In [338]:
print(np.shape(y))
y

(35680, 21)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [339]:
print(np.shape(x))
x

(35680, 20)

array([[   0.,    0.,    0., ..., 1026.,    7.,   10.],
       [   0.,    0.,    0., ..., 1024.,    8.,   10.],
       [   0.,    0.,    0., ..., 1024.,    6.,    9.],
       ...,
       [   0.,    0.,    0., ..., 1011.,   13.,   22.],
       [   0.,    0.,    0., ..., 1012.,   15.,   28.],
       [   0.,    0.,    0., ..., 1014.,   13.,   21.]])

In [340]:
#from sklearn.preprocessing import StandardScaler
#sc=StandardScaler()
#x[:,12:]=sc.fit_transform(x[:,12:])

In [341]:
result = np.hstack((x, np.atleast_2d(y)))
np.shape(result)

(35680, 41)

In [342]:
x,y

(array([[   0.,    0.,    0., ..., 1026.,    7.,   10.],
        [   0.,    0.,    0., ..., 1024.,    8.,   10.],
        [   0.,    0.,    0., ..., 1024.,    6.,    9.],
        ...,
        [   0.,    0.,    0., ..., 1011.,   13.,   22.],
        [   0.,    0.,    0., ..., 1012.,   15.,   28.],
        [   0.,    0.,    0., ..., 1014.,   13.,   21.]]),
 array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]))

In [343]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, Y_train, Y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [344]:
print(np.shape(X_train))
print(np.shape(X_test))
print(np.shape(Y_train))
print(np.shape(Y_test))

(28544, 20)
(7136, 20)
(28544, 21)
(7136, 21)

In [345]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
#sc=StandardScaler()
#sc = MinMaxScaler()
#X_train[:,12:]=sc.fit_transform(X_train[:,12:])
#X_test[:,12:]=sc.fit_transform(X_test[:,12:])

In [346]:
model= DecisionTreeClassifier(random_state=42,max_depth=10,max_leaf_nodes=40)
mymodel=model.fit(X_train,Y_train)

In [351]:
X_new=np.array([[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20.0,0.0,0.0,74.0,1015.0,9.0,14.0]])
#X_new2[:,12:]=sc.fit_transform(X_new2[:,12:])
Y_new=mymodel.predict(X_new)
print(Y_new)
print("Xác suất dự đoán chính xác:",mymodel.score(X_test,Y_test))

[[0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
Xác suất dự đoán chính xác: 0.7836322869955157

In [358]:
drugTree = RandomForestClassifier(n_estimators=3)
drugTree.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=3)

In [359]:
X_new2=np.array([[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,18.0,18.0,0.0,0.0,68.0,1021.0,9.0,13.0]])
#X_new2[:,12:]=sc.fit_transform(X_new2[:,12:])
Y_new2=drugTree.predict(X_new2)
print(Y_new2)
print("Xác suất dự đoán chính xác:",drugTree.score(X_test,Y_test))

[[0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
Xác suất dự đoán chính xác: 0.7208520179372198

In [23]:
rs = np.array(["Clear","Cloudy","Fog","Heavy rainHeavy rain at times","Light drizzle","Light rain","Light rain shower","Mist","Moderate or heavy rain shower","Moderate or heavy rain with thunder","Moderate rain","Moderate rain at times","Overcast","Partly cloudy","Patchy light drizzle","Patchy light rain","Patchy light rain with thunder","Patchy rain possible","Thundery outbreaks possible","Thundery outbreaks possible","Torrential rain shower"])
rs[19]

'Torrential rain shower'